#
#
# OpenID delegated authentication handler global configuration file
#
# Changing values in this file WILL effect the way the delegated openID authentication handler operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Bradley Beddoes
# Date: 07/03/2007
#

###########################################################################################################
#
# Deployment specific configuration
####

## Keystore 1
keystorePath-1=file://${openiddeleg.data}/config/openidKeystore.ks
keystorePassword-1=$configBean.getOidKeyStorePassphrase()
keyAlias-1=$configBean.getOidKeyPairName()
keyPassword-1=$configBean.getOidKeyPairPassphrase()

openIDResponseEndpoint=$configBean.getOpenIDEndpoint()/login
ssoURL=$configBean.getEsoeSSOURL()
deniedURL=$configBean.getOpenIDEndpoint()/denied.htm
acceptURL=$configBean.getOpenIDEndpoint()/accept.htm
failURL=$configBean.getOpenIDEndpoint()/failed.htm

sessionDomain=$configBean.getEsoeSessionDomain()
issuerID=$configBean.getIssuerID()
principalRegistrationEndpoint=$configBean.getEsoeURL()/ws/services/esoe/registerPrincipal

httpsOffload=$configBean.getHttpsOffload()

###########################################################################################################
#
# You should not need to edit anything below this line, advanced changes only
####

sessionTokenName=esoeSession
allowedTimeSkew=60
userIdentifier=uid

###########################################################################################################
#
# Spring configuration integration, you REALLY shouldn't need to edit anything below this line.
####

## ESOE Key Store Resolver
openidkeystoreresolver.keystorePath=${keystorePath-1}
openidkeystoreresolver.keystorePassword=${keystorePassword-1}
openidkeystoreresolver.keyAlias=${keyAlias-1}
openidkeystoreresolver.keyPassword=${keyPassword-1}

# Authentication Processor
authnprocessor.issuerID=${issuerID}
authnprocessor.principalRegistrationEndpoint=${principalRegistrationEndpoint}
authnprocessor.openIDResponseEndpoint=${openIDResponseEndpoint}
authnprocessor.userIdentifier=${userIdentifier}
authnprocessor.httpsOffload=${httpsOffload}

# SAML Validation
samlvalidator.allowedDelegatorSkew=${allowedTimeSkew}