# Enterprise Sign On Engine (ESOE) spnego plugin configuration file
#
# Changing values in this file WILL effect the way the ESOE operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Andre Zitelli
#
# ESOE wide properties are created in config/esoe.config, properties shared by all plugins are created in plugins/plugins.config
# properties shared by authentication plugins are created in plugins/authentication/authplugins.config in addition to this file.
#

## Active Directory Environment
# Identifier name for browsers integrated into Active Directory
activeDirectoryBrowserId=

# Identifier for server principal in Active Directory
serverPrincipal=

# Keytab for communication with Active Directory
keyTab=

# Comma separated list of target networks, in CIDR notation (eg: 1.2.0.0/16, 4.3.2.0/24)
targetNetworks=

################################################
# You should not need to edit anything below this line, advanced changes only
################################################

spnegohandler.successURL=${successURL}
spnegohandler.spnegoUserAgentID=${activeDirectoryBrowserId}
spnegohandler.securityLevelIdentifier=${securityLevelIdentifer}
spnegohandler.securityLevel=${securityLevel1}
spnegohandler.targetNetworks=${targetNetworks}

# See http://java.sun.com/javase/6/docs/api/javax/security/auth/login/Configuration.html and associated links for extensions to these options.
kerberosV5Authenticator.option.serverPrincipal=${serverPrincipal}
kerberosV5Authenticator.option.useKeyTab=true
kerberosV5Authenticator.option.storeKey=true
kerberosV5Authenticator.option.doNotPrompt=true
kerberosV5Authenticator.option.debug=true
kerberosV5Authenticator.file.keyTab=${keyTab}