#
#
# OpenID delegated authentication handler global configuration file
#
# Changing values in this file WILL effect the way the delegated openid authentication handler operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Bradley Beddoes
# Date: 07/03/2007
#

###########################################################################################################
#
# Deployment specific configuration
####

## Keystore 1
keystorePath-1=
keystorePassword-1=
keyAlias-1=
keyPassword-1=

openIDResponseEndpoint=
ssoURL=
deniedURL=
acceptURL=

sessionDomain=
issuerID=
principalRegistrationEndpoint=

httpsOffload=

###########################################################################################################
#
# You should not need to edit anything below this line, advanced changes only
####

sessionTokenName=esoeSession
allowedTimeSkew=60
userIdentifier=uid

###########################################################################################################
#
# Spring configuration integration, you REALLY shouldn't need to edit anything below this line.
####

## ESOE Key Store Resolver
openidkeystoreresolver.keystorePath=${keystorePath-1}
openidkeystoreresolver.keystorePassword=${keystorePassword-1}
openidkeystoreresolver.keyAlias=${keyAlias-1}
openidkeystoreresolver.keyPassword=${keyPassword-1}

# Authentication Processor
authnprocessor.issuerID=${issuerID}
authnprocessor.principalRegistrationEndpoint=${principalRegistrationEndpoint}
authnprocessor.openIDResponseEndpoint=${openIDResponseEndpoint}
authnprocessor.userIdentifier=${userIdentifier}
authnprocessor.httpsOffload=${httpsOffload}

# SAML Validation
samlvalidator.allowedDelegatorSkew=${allowedTimeSkew}