# Compiled java things
*.class
lib
dist
build
bin

# Compiled C++ things
*.so
*.os
*.o
*.obj
*.lo
.deps
.libs
*.la
spepd
*.dll
*.dll.manifest
*.exp
*.lib

# Project files
.project*
.classpath*
.settings
.springBeans
pom.xml

# Other generated stuff
saml2java/src-gen
esoecore/webservice/deploy
esoemanager/esoemanager/build-gwt
*.log
spepcpptest/schema
spepcpptest/data/*.ks
.gradle
.sconf_temp
.sconsign.dblite

# Archives
*.war
*.jar
*.tar.[bg]z*

# automake / autoconf / related
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1

# Editor swap files
*.sw[op]
*~

/esoebuild/msvc/vc8/saml2/Debug
/esoebuild/msvc/vc8/saml2/Release
/esoebuild/msvc/vc8/spep/Debug
/esoebuild/msvc/vc8/spep/Release
/esoebuild/msvc/vc8/spepisapi/Release
/esoebuild/msvc/vc8/spepisapi/Debug
/esoebuild/msvc/vc8/esoe.ncb
/esoebuild/msvc/vc8/esoe.suo
/esoebuild/msvc/vc8/spepisapi.vcproj.QUTAD.mcgregap.user
/esoebuild/msvc/vc8/saml2.vcproj.QUTAD.mcgregap.user
/esoebuild/msvc/vc8/spep.vcproj.QUTAD.mcgregap.user
/esoebuild/msvc/vc8/spepd.vcproj.QUTAD.mcgregap.user