<plugin name='spep' version='0.2' grailsVersion='1.1.1 &gt; *'>
  <author>Shaun Mangelsdorf</author>
  <authorEmail>s.mangelsdorf@gmail.com</authorEmail>
  <title>Integrates the SPEP filter with a Grails application</title>
  <description>Integrates the SPEP filter with a Grails application.
</description>
  <documentation>http://esoeproject.org/wiki/esoe/SPEP_Grails_Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>SpepFilters</resource>
    <resource>UrlMappings</resource>
    <resource>grails.spep.SpepUser</resource>
  </resources>
  <dependencies />
</plugin>