<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="esoe-core-logger"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${esoe.data}/logging/esoe.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="esoe-authn-logger"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${esoe.data}/logging/esoe-authn.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="esoe-authz-logger"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${esoe.data}/logging/esoe-authz.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="saml2-logger"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${esoe.data}/logging/saml2.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<logger name="com.qut.middleware.esoe">
		<level value="INFO" />
		<appender-ref ref="esoe-core-logger" />
	</logger>

	<logger name="esoe.authn">
		<level value="INFO" />
		<appender-ref ref="esoe-authn-logger" />
	</logger>

	<logger name="esoe.authz">
		<level value="INFO" />
		<appender-ref ref="esoe-authz-logger" />
	</logger>

	<logger name="com.qut.middleware.saml2">
		<level value="INFO" />
		<appender-ref ref="saml2-logger" />
	</logger>

</log4j:configuration>

