/*
Enterprise sign on engine
CSS by Bradley Beddoes 2007
beddoes@intient.com
*/
body {
	font-family: arial, helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 0.8em;
	width: 100%;
	min-width: 1024px;
	background: #fff url(graphics/gradient-lightgrey.png) repeat-x left top;
	text-align: center;
}

h1 {
	font-size: 1.7em;
	color: #008898;
}

h2 {
	font-size: 1.35em;
	color: #008898;
}

h3 {
	font-size: 1.2em;
	color: #008898;
}

TT {
	font-size: 1.0em;
}

a:link,a:visited,a:active {
	color: #008898;
	size: 1em;
	text-decoration: none;
}

a:hover {
	color: #00c2d9;
	text-decoration: underline;
}

a img {
	border: 0px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	width: 1024px;
	text-align: left;
}

#title {
	height: auto;
	background: #000 url(graphics/gradienttitle.png) repeat-x left top;
	overflow: hidden;
}

#logo {
	float: left;
}

#navigation {
	text-align: right;
	padding-top: 23px;
	padding-right: 10px;
	color: #fff
}

#navigation a {
	color: #ffffff;
	size: 1em;
	text-decoration: none;
}

#navigation a:hover {
	color: #00c2d9;
	text-decoration: underline;
}

#banner {
	clear: left;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}

#splash {
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}

#frontContent {
	clear: left;
	width: 1024px;
	text-align: left;
	padding-bottom: 35px;
}

#overview {
	padding-top: 15px;
}

#overviewText {
	float: left;
	width: 700px;
}

#overviewGraphic {
	padding: 10px;
}

#tourLinks {
	font-size: 1.7em;
	text-align: center;
}

#contentNavigation {
	clear: left;
	padding-top: 10px;
}

#community {
	float: left;
	width: 340px;
}

#blogs {
	float: left;
	width: 340px;
}

#adopters {
	
}

#subprojects {
	clear: left;
}

#saml2Java {
	float: left;
	width: 512px;
}

#saml2cpp {
	width: 512px;
}

#builtUsing {
	width: 1024px;
	padding-top: 15px;
}

#licence {
	width: 1024px;
	padding-top: 20px;
	text-align: center;
}

#footer {
	clear: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #fff url(graphics/gradient-lightgrey.png) repeat-x left top;
	height: 50px;;
	background: #fff url(graphics/gradient-lightgrey.png) repeat-x left top;
}

#footerCopyright {
	width: 400px;
	float: left;
}

#footerNavigation {
	text-align: right;
}

#mainContent {
	padding-top: 25px;
}

#menu {
	float: left;
	width: 150px;
}

#contentText {
	float: left;
	width: 850px;
	padding-bottom: 50px;
}

#authnError {
	font-size: 1.35em;
	color: #FF0000;	
}