# Enterprise Sign On Engine (ESOE) SSO - HTTP redirect plugin configuration file
#
# Changing values in this file WILL effect the way the ESOE operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Shaun Mangelsdorf
#
# ESOE wide properties are created in config/esoe.config, properties shared by all plugins are created in plugins/plugins.config
# properties shared by SSO plugins are created in plugins/sso/ssoplugins.config in addition to this file.
#


