<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<description>SPEP development environment web application</description>

	<!-- Servlets defined by the SPEP -->
	<servlet>
		<servlet-name>authnServlet</servlet-name>
        <display-name>SPEP Authentication Servlet</display-name>
		<servlet-class>com.qut.middleware.spep.servlet.AuthenticationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>wsServlet</servlet-name>
        <display-name>SPEP Web Services Servlet</display-name>
        <servlet-class>com.qut.middleware.spep.ws.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
    </servlet>
    
	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>authnServlet</servlet-name>
		<url-pattern>/sso</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>wsServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>wsServlet</servlet-name>
		<url-pattern>/authzCacheClear</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>wsServlet</servlet-name>
		<url-pattern>/singleLogout</url-pattern>
	</servlet-mapping>
</web-app>
