<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<logger name="com.qut.middleware.esoe">
		<level value="DEBUG" />
		<appender-ref ref="esoe-core-logger" />
	</logger>

	<logger name="esoe.authn">
		<level value="DEBUG" />
		<appender-ref ref="esoe-authn-logger" />
	</logger>

	<logger name="esoe.authz">
		<level value="DEBUG" />
		<appender-ref ref="esoe-authz-logger" />
	</logger>

	<logger name="com.qut.middleware.esoemanager">
		<level value="DEBUG" />
		<appender-ref ref="esoemanager-core-logger" />
	</logger>

	<logger name="com.qut.middleware.spep">
		<level value="DEBUG" />
		<appender-ref ref="spep-core-logger" />
	</logger>

	<logger name="spep.authn">
		<level value="DEBUG" />
		<appender-ref ref="spep-authn-logger" />
	</logger>

	<logger name="spep.authz">
		<level value="DEBUG" />
		<appender-ref ref="spep-authz-logger" />
	</logger>

	<appender name="esoe-core-logger"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="${esoe.data}/logging/esoe.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="esoe-authn-logger"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="${esoe.data}/logging/esoe-authn.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="esoe-authz-logger"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="${esoe.data}/logging/esoe-authz.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="esoemanager-core-logger"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="${esoemanager.data}/logging/esoemanager.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="spep-core-logger"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="${spep.data}/logging/spep.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="spep-authn-logger"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="${spep.data}/logging/spep-authn.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="spep-authz-logger"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="${spep.data}/logging/spep-authz.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

</log4j:configuration>

