#
#
# Shibboleth delegated authentication handler global configuration file
#
# Changing values in this file WILL effect the way the delegated shibboleth authentication handler operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Bradley Beddoes
# Date: 23/06/2007
#

###########################################################################################################
#
# Deployment specific configuration
####

## Keystore 1
keystorePath-1=WEB-INF/shibdelegator.ks
keystorePassword-1=
keyAlias-1=
keyPassword-1=

ssoURL=
deniedURL=
acceptURL=
failURL=

sessionDomain=
issuerID=
principalRegistrationEndpoint=

###########################################################################################################
#
# You should not need to edit anything below this line, advanced changes only
####

sessionTokenName=esoeSession
allowedTimeSkew=60
userIdentifier=uid

###########################################################################################################
#
# Spring configuration integration, you REALLY shouldn't need to edit anything below this line.
####

## ESOE Key Store Resolver
shibdelegkeystoreresolver.keystorePath=${keystorePath-1}
shibdelegkeystoreresolver.keystorePassword=${keystorePassword-1}
shibdelegkeystoreresolver.keyAlias=${keyAlias-1}
shibdelegkeystoreresolver.keyPassword=${keyPassword-1}

# Authentication Processor
authnprocessor.issuerID=${issuerID}
authnprocessor.principalRegistrationEndpoint=${principalRegistrationEndpoint}
authnprocessor.userIdentifier=${userIdentifier}

# SAML Validation
samlvalidator.allowedDelegatorSkew=${allowedTimeSkew}