# Enterprise Sign On Engine (ESOE) stats generation plugin configuration file
#
# Changing values in this file WILL effect the way the ESOE operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Bradley Beddoes
#
# ESOE wide properties are created in config/esoe.config, properties shared by all plugins are created in plugins/plugins.config
# properties shared by authentication plugins are created in plugins/authentication/authplugins.config in addition to this file.
#