#
#
# Enterprise Sign On Engine (ESOE) Startup global configuration file
#
# Changing values in this file WILL effect the way the ESOE Startup webapp operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Bradley Beddoes
# Date: 30/04/2007
#

###########################################################################################################
#
# You should not need to edit anything below this line, advanced changes only
####

# Configuration Templates
esoeConfigTemplate=WEB-INF/config-tmpl/esoe.config
esoeManagerConfigTemplate=WEB-INF/config-tmpl/esoemanager.config
esoeManagerSpepConfigTemplate=WEB-INF/config-tmpl/spep.config

# Database connectivity
databaseRemoveAbandoned.1=true
databaseRemoveAbandonedTimeout.1=300
databaseLogAbandoned.1=true
databaseMaxIdle.1=1
databaseMaxActive.1=2

defaultMySQLURL=jdbc:mysql://{HOST}/{DATABASENAME}?useUnicode=true
defaultOracleURL=jdbc:oracle:thin:@{HOST}:1521:SID

# ESOE Service Endpoints
defaultSingleSignOnService=/sso
defaultAttributeService=/ws/services/esoe/attributeAuthority
defaultLxacmlService=/ws/services/esoe/policyDecisionPoint
defaultSpepStartupService=/ws/services/esoe/spepStartup

## Service Defaults
java.defaultACS=/spep/sso
java.defaultSLS=/spep/services/spep/singleLogout
java.defaultCCS=/spep/services/spep/authzCacheClear

# SQL Maps
sqlmapclient.config=WEB-INF/sqlMapConfig.xml

# PDP Policy
defaultPolicy=WEB-INF/defaultServicePolicy.xml
defaultManagementPolicy=WEB-INF/defaultManagementPolicy.xml
defaultAttributePolicy=WEB-INF/defaultSupportedSessionAttributes.xml

###########################################################################################################
#
# Spring configuration integration, you REALLY shouldn't need to edit anything below this line.
####

# iBatis DataSource
ibatisdatasource.removeAbandoned=${databaseRemoveAbandoned.1}
ibatisdatasource.removeAbandonedTimeout=${databaseRemoveAbandonedTimeout.1}
ibatisdatasource.logAbandoned=${databaseLogAbandoned.1}
ibatisdatasource.maxIdle=${databaseMaxIdle.1}
ibatisdatasource.maxActive=${databaseMaxActive.1}

## Logic
registeresoelogic.generateDatabaseSQL=${generateDatabaseSQL}
registeresoelogic.mysql=mysql
registeresoelogic.oracle=oracle
registeresoelogic.mysql.file=WEB-INF/generate_db-mysql.sql
registeresoelogic.oracle.file=WEB-INF/generate_db-oracle.sql

registeresoelogic.defaultPolicy=${defaultPolicy}
registeresoelogic.defaultManagementPolicy=${defaultManagementPolicy}
registeresoelogic.defaultAttributePolicy=${defaultAttributePolicy}

## Pages
registeresoepage.defaultSingleSignOnService=${defaultSingleSignOnService}
registeresoepage.defaultAttributeService=${defaultAttributeService}
registeresoepage.defaultLxacmlService=${defaultLxacmlService}
registeresoepage.defaultSpepStartupService=${defaultSpepStartupService}

registeresoemanagerservicenodespage.defaultSingleLogoutService=${java.defaultSLS}
registeresoemanagerservicenodespage.defaultAssertionConsumerService=${java.defaultACS}
registeresoemanagerservicenodespage.defaultCacheClearService=${java.defaultCCS}

registerdatbasepage.defaultMySQLURL=${defaultMySQLURL}
registerdatbasepage.defaultOracleURL=${defaultOracleURL}

registerdatbaseajaxpage.defaultMySQLURL=${defaultMySQLURL}
registerdatbaseajaxpage.defaultOracleURL=${defaultOracleURL}

renderesoeconfiglogic.esoeconfig=${esoeConfigTemplate}
renderesoeconfiglogic.esoemanagerconfig=${esoeManagerConfigTemplate}
renderesoeconfiglogic.esoemanagerspepconfig=${esoeManagerSpepConfigTemplate}