# Enterprise Sign On Engine (ESOE) username/password plugin configuration file
#
# Changing values in this file WILL effect the way the ESOE operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Bradley Beddoes
#
# ESOE wide properties are created in config/esoe.config, properties shared by all plugins are created in plugins/plugins.config
# properties shared by authentication plugins are created in plugins/authentication/authplugins.config in addition to this file.
#

# URL to redirect principal to for manual authentication processes
usernamePasswordURL=

# Value to append to usernamePasswordURL when authentication fails
authenticationFailedNameValue=rc=authnfail

################################################
# You should not need to edit anything below this line, advanced changes only
################################################

usernamepasswordhandler.requireCredentialsURL=${usernamePasswordURL}
usernamepasswordhandler.authenticationFailedNameValue=${authenticationFailedNameValue}
usernamepasswordhandler.failURL=${criticalfailureURL}
usernamepasswordhandler.successURL=${successURL}
usernamepasswordhandler.securityLevelIdentifier=${securityLevelIdentifer}
usernamepasswordhandler.securityLevel=${securityLevel1}

ldapbasicauthenticator.ldapServer=${ldapServer}
ldapbasicauthenticator.ldapServerPort=${ldapServerPort}
ldapbasicauthenticator.baseDN=${baseDN}
ldapbasicauthenticator.identifier=${identifier}
ldapbasicauthenticator.recursive=${recursive}
ldapbasicauthenticator.disableSSL=${disableSSL}
ldapbasicauthenticator.adminUser=${adminUser}
ldapbasicauthenticator.adminPassword=${adminPassword}