#
#
# Enterprise Sign On Engine (ESOE), Java Service Provider Enforcement Point (SPEP) global configuration file
#
# Changing values in this file WILL effect the way the ESOE Manager operates in production, please change with
# care and in consultation with configuration documentation.
#
# Author: Shaun Mangelsdorf
# Date: 04/12/2006
#

###########################################################################################################
#
# Deployment specific configuration
####

# KeyStore 1
keystorePath=/WEB-INF/spepKeystore.ks
keystorePassword=$esoeBean.getEsoeManagerKeyStorePassphrase()
spepKeyAlias=$esoeBean.getEsoeManagerKeyPairName()
spepKeyPassword=$esoeBean.getEsoeManagerKeyPairPassphrase()
metadataKeyAlias=$esoeBean.getEsoeMetadataKeyPairName()

# The unique identifier of the authenticating ESOE.
esoeIdentifier=$esoeBean.getIdpEntityID()

# The unique identifier of the service. NOTE: This is not the same as the index node ID
spepIdentifier=$esoeBean.getSpDescriptorID()

# The URL to retrieve the metadata document from
metadataUrl=$esoeBean.getManagerServiceURL()/metadata/retrieve.htm

# string description of the service
serverInfo=$esoeBean.getManagerServiceName()

# Unique identifier of this service node
nodeIdentifier=$nodeID

# Indicies of this service node 
attributeConsumingServiceIndex=$nodeID
assertionConsumerServiceIndex=$nodeID
authzCacheIndex=$nodeID

tokenDomain=$esoeBean.getEsoeManagerCookieDomain()

# ip addresses of this host SPEP
ipAddresses=$esoeBean.getEsoeManagerIP()

# the URL to redirect unauthenticated users to
loginRedirect=$serviceNodeURL/spep/sso?redirectURL={0}

# Default URL of the service
defaultUrl=$esoeBean.getManagerServiceURL()

# specify cookies to clear when am authentication session is destroyed
# strings are of the format: cookie_name [space] cookie_domain (optional) [space] cookie_path (optional)
logoutClearCookie.1=spepSession

###########################################################################################################
#
# You should not need to edit anything below this line, advanced changes only
####

# authentication token names
tokenName=spepSession

# interval in seconds between polling the metadata URL for the metadata document
metadataInterval=120

# allowed time in seconds that a document will remain valid from the time of creation
allowedTimeSkew=60

# time in seconds between polling the identifier cache for expired identifiers
identifierCacheInterval=3600

# time in seconds that an identifier will remain active
identifierCacheTimeout=36000

# Time that sessions which have yet to complete an authentication event are considered valid
sessionCacheTimeout=120

# Time in seconds that session cache cleanup will run looking for expired unauthenticated sessions
# and sessions which have expired as dictated by the ESOE
sessionCacheInterval=120

# file for configuration of attributes to be queried
attributeConfigPath=/WEB-INF/attributeProcessor.xml

# default authorization policy for queries with no definite outcome. For example if the SPEP cannot
# communicate with the ESOE and has no cached entry for the current request
defaultPolicyDecision=deny