<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

	<appender name="esoe-support-logger" class="org.apache.log4j.FileAppender">
		<param name="File" value="logs/esoe-support.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="FATAL" />
			<param name="LevelMin" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="esoe-logger" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="logs/esoe-core.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="FATAL" />
			<param name="LevelMin" value="INSANE#com.qut.middleware.esoe.log4j.InsaneLogLevel" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="esoe-authn" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="logs/esoe-authn.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="AUTHN#com.qut.middleware.esoe.log4j.AuthnLogLevel" />
			<param name="LevelMin" value="AUTHN#com.qut.middleware.esoe.log4j.AuthnLogLevel" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="esoe-authz" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="logs/esoe-authz.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="AUTHZ#com.qut.middleware.esoe.log4j.AuthzLogLevel" />
			<param name="LevelMin" value="AUTHZ#com.qut.middleware.esoe.log4j.AuthzLogLevel" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="esoe-saml2-logger" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="logs/error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="FATAL" />
			<param name="LevelMin" value="DEBUG" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<logger name="com.qut.middleware.esoe">
		<level value="INSANE#com.qut.middleware.esoe.log4j.InsaneLogLevel" />
		<appender-ref ref="esoe-logger" />
		<appender-ref ref="esoe-authn" />
		<appender-ref ref="esoe-authz" />
	</logger>

	<logger name="com.qut.middleware.saml2">
		<level value="DEBUG" />
		<appender-ref ref="esoe-saml2-logger" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="esoe-support-logger" />
	</root>

</log4j:configuration>